{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMA - UNICUALQUIERA</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>

    <!-- navbar start -->
    <nav>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo Unicualquiera">
        </div>
        <div class="nav-links">
            <a href="#">MI CUENTA</a>
            <span>|</span>
            <a href="#">CERRAR SESIÓN</a>
        </div>
    </nav>
    <!-- navbar end -->


    <!-- main start -->
<div class="main">

    <!-- panel izquierdo start -->
    <div class="panel-izquierdo">
        <h3>Nombre del estudiante</h3>
        <p>Código: 12345</p>
        <p>Facultad: Ingeniería</p>
        <p>Carrera: Sistemas</p>
    </div>
    <!-- panel izquierdo end -->

    <!-- panel central start -->
    <div class="panel-central">
        <img src="{% static 'img/logo.png' %}" alt="Logo">
        <div class="tabs">
            <button>Lunes</button>
            <button>Martes</button>
            <button>Miércoles</button>
            <button>Jueves</button>
            <button>Viernes</button>
        </div>
    </div>
    <!-- panel central end -->

</div>
<!-- main end -->

</body>

</html>